html, body {
    padding: 0;
    margin: 0;
  }

body {
    background-image: linear-gradient(rgb(12, 12, 142), rgb(118, 171, 251));
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    color: #fff;
    text-align: center;
}

header {
    padding: 0 20px;
    font-size: 1.2rem;
}

h2 {
    margin-bottom: 0;
    font-size: 1.6rem;
}

h3 {
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-top: 0;
}

h4 {
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

h5 {
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 30px;
}

input {
    padding: 1px 10px;
}

button {
    padding: 1px 5px;
}

